{% load static %}<!DOCTYPE html>
<html>
<head>
  <title>Simple Social Auth</title>
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
</head>
<body>
  <header>
    <h1>Character Monitoring and Building</h1>
    {% if user.is_authenticated %}
      
      <a href="{% url 'home' %}">Generate Personality Graph</a> 
      <a href="{% url 'settings' %}">Settings</a> 
      <a href="{% url 'shashank' %}">Text Based Prediction</a>
    {% else %}
    {% endif %}
    <hr>
  </header>
  <main>
    {% for message in messages %}
      <p style="color: {% if message.tags == 'success' %}green{% elif message.tags == 'error' %}red{% endif %}">
        {{ message }}
      </p>
    {% endfor %}
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>